.responsive{
  width: 100%;
  height: auto;
}


.maintext{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  padding-left: 2px;
  padding-right: 2px;
}

#subhead{
  font-style: italic;
  font-size: 20px;
  padding-bottom: 15px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

#footer{
  background-color: #00003f;
  color: white;
  text-align: center;
  line-height: 15.6px;
}

#pullquote{
  font-size: 20px;
  font-style: italic;
  padding-bottom: 10px;
  text-align: center;
}
h2{
  font-family: Georgia, serif;
  font-style: italic;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
}

img{
  padding-bottom: 10px;
  padding-top: 5px;
}
