#content{
  margin: 0 auto;
  width: 900px;
  font-family: Georgia;
  font-size: 13px;
}

#masthead{
  margin-left: 0;
  max-width: 60%;
}

#submast {
  font-family: Helvetica;
  text-align: center;
  margin: 0 auto;
  color: #0900E0;
  font-size: 50px;
  font-style: italic;
}
h1 {
  margin: 0 auto;
  font-size: 80px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  padding-top: 5px;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

#readmore {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-style: bold;
  padding-top: 60px;
}

#links {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  text-align: left;
}

blockquote {
  font-size: 17px;
  font-style: italic;
}
img {
  padding-top: 10px;
}
