.jobtitle{
    font-family: Georgia, Garamond, serif;
    font-weight: bold;
    font-size: 20px;
    color: #000080;
}

.organization {
  font-family: Georgia, Garamond, serif;
  font-weight: bold;
  font-size: 15px;
}

.date{
  font-family: Georgia, Garamond, serif;
  font-style: italic;
  font-size: 15px;
}

.description{
  font-family: Georgia, Garamond, serif;
  font-size: 15px;
}

.skilltitle{
  font-weight: bold;
    color: #000080;
    font-size: 28px;
}

.skills{
  font-size: 20.5px;
}
#profile{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}


#degrees{
  font-size: 14px;
}

#educationstyle{
  color: #000080;
  font-weight: bold;
}

#reels {
  font-family: Georgia, Garamond, serif;
  color: black;
}

#demotitle{
  font-weight: bold;
}
